.PGNroot {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.PGNsvg {
    width: 2rem;
    cursor: pointer;
}

.PGNul {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 1rem;
    gap: 0.8rem;
}

.PGNli,
.PGNliActive {
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.PGNliActive {
    border: solid;
}