.list_title,
.list_price {
  font-size: 24px;
  align-self: flex-start;
  line-height: 125%;
  margin-left: 20px;
  font-weight: 600;
}

.list_title {
  margin-top: 20px;
  margin-bottom: 0;
}

.list_text {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  align-self: flex-start;
  height: 72px;
  font-weight: 400;
  line-height: 150%;
}

.list_price {
  margin-top: 0;
  margin-bottom: 20px;
}

.list_wrap {
  display: flex;
  gap: 4rem;
  cursor: default;
}
