#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  margin-bottom: 1rem;
}

.local_card {
  max-width: 18rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.invalid-feedb {
  height: 20px;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.navbar-ul {
  display: flex;

  gap: 1rem;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.form-pass {
  min-width: 437px;
}